ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
input,button{
    outline: none;
    background:transparent;
}
table{
    border-collapse: collapse;
    width:100%;
    /*max-width: 800px;*/
    color: #e7e7e7;
}
table th,table td{
    border: 1px solid #505050;
    font-size: 14px;
}
table th{
    /*background: #000;*/
    background: #393939;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    border: 1px solid #2B2B2B;
    border-bottom: 2px solid #2B2B2B;
    vertical-align: middle;
    text-align: center;
    padding: 10px 20px;
    white-space:nowrap;

}
table td{
    text-align: left;
    padding:10px;
    word-wrap:break-word!important;

}
table tr:nth-child(odd){background:#393939;}
table tr:nth-child(even){background:#333;}

#Tabfirst{
    position: relative;
    /*height: 100vh;*/
}
#Tabfirst,#TabAccounts,#TabSend,#TabHistory,#TabDapps,#TabExplorer{
     /*height: 100vh;*/
     box-sizing: border-box;
     /*margin-top: 90px;*/
     overflow-y: auto;
    /*height: 500px;*/
    /*height: calc(100vh - 90px);*/
    /*height: -moz-calc(100vh - 90px);*/
    /*height: -webkit-calc(100vh - 90px);*/

     overflow-x: hidden;
    padding-top: 90px;

 }

.smallbold {
    font-weight: 600;

}
#idNameTo{
    color:#94FF00;
    padding-bottom: 10px;
}
.hash {
    width: 270px;
    font-family: "courier new", "times new roman", monospace;
    font-size: 60%;
    align-content: left;
    text-align: left;
    word-break: break-all;
}
.pubkey
 {
     width: 180px;
     font-size: 75%;

 }
#idBlockOnSend {
    z-index:999999;
    position:absolute;
    height:150px;
    width:340px;
    top:20%;
    left:0;
    transform: translateX(50vw) translateX(-170px);
    font-size: larger;
    padding: 10px;
    background: rgba(0,0,0,0.7);
    color: white;
    text-align: left;
    box-shadow: 0 1px 6px 4px rgba(255,255,255,0.3);
}
#idPrivKeyButton, #idPrivKeyEdit, #idPubKey {
    padding: 6px;
}
#idPrivKeyEdit {
    color: darkgreen;
    font-weight: 600;
}
#idKeys,#idAccountEdit{
    vertical-align: middle;
}
#idKeys .label,
#TabSend .label,
#idAccountEdit .label{
    display: inline-block;
    color: #e7e7e7;
    font-size: 14px;
    min-width: 90px;
    vertical-align: top;
}
#idKeys .inputBtn,
#idAccountEdit .inputBtn{
    display: inline-block;
    width: 400px;
    background: rgba(255,255,255,0.3);
    border: 0;
    color: #ffffff;
    margin:0 20px 10px 0;
}
#TabSend .inputStl,
#idKeys .inputStl,
#idAccountCur.selectstl,
#TabSend .selectstl,
#idAccountEdit .inputStl{
    display: inline-block;
    width: 388px;
    background: rgba(255,255,255,0.3);
    border: 0;
    color: #ffffff;
    margin:0 20px 10px 0;

}
#TabExplorer .inputStl,
#TabDapps .inputStl{
    display: inline-block;
    width: 80px;
    background: rgba(255,255,255,0.3);
    border: 0;
    color: #ffffff;
    margin:0 0 10px 0;
    padding: 6px;

}
textarea{
    display: inline-block;
    width: 400px;
    background: rgba(255,255,255,0.3);
    border: 0;
    color: #ffffff;
    margin:0 20px 10px 0;
    padding: 6px;
}
#edit_transaction textarea{
    width: 100%;
    height: 300px;
}
#TabSend .inputStl,
#idAccountEdit .inputStl{
    padding: 6px;
}
#TabSend .selectstl,
#idAccountCur.selectstl{
    border-radius: 0!important;
    display: inline-block;
    margin-left: -3px;
    padding:6px 2rem;
}
select{
    padding: 0;
    margin: 0;
}
@media screen and (max-width:752px) {
    a.key{
        margin-left: 0!important;
    }
}


@media screen and (max-width:460px) {
    #idKeys .inputBtn,#idKeys .inputStl,
    #TabSend .inputStl,
    #idAccountEdit .inputBtn,#idAccountEdit .inputStl{
            width: 90%;
        }
    .ss-custom-select::after {
        right: 1rem;

    }
    #idAccountCur.selectstl{
        width: 100%;
    }
    #TabDapps.row,
    #TabExplorer.row,
    #TabAccounts.row {
        padding-left: 10px;
        padding-right: 10px;

    }
    .w100p{
        overflow-x:auto;
        /*width: 90px;*/
        padding-bottom: 20px;
    }
}

.reconnet{
    border-top: 1px solid #fff;
    padding-top: 10px;
    margin-top: 10px;
}
.openblock{
   border: 0;
    text-decoration: underline;
}
.openblock:hover{
    color: #94ff00;
}
.bt_open_dapp{
    border: 0;
}
.bt_open_dapp:hover{
    background: #94ff00;
    color: #000000;

}
.canvasbrdr{
    background: #000;
    padding: 5px 0;
}
#BDgrmId1{
    margin:10px 0  40px;
}
.explorer{
    margin-bottom: 20px;
}
.explorer button{
    width: 150px;
    height: 150px!important;
    margin:5px;
}
.animated-button.victoria-four:after {
    /*opacity: .5;*/
    -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
.animated-button.victoria-four:hover:after {
    opacity: 1;
    height: 600% !important;
}
